*.a
*.o
*.tar.*
.deps
/configure
po/POTFILES
po/stamp-it
stamp-h1


# Generated programs:
src/pmount
src/pmount-hal
src/pumount
tests/test_sysfs
tests/parse_cf
tests/test_spawn
Makefile
Makefile.in

/autom4te.cache
/build-aux
/m4

/config.*
/po/*.gmo
/tests/*.log
/tests/*.sh
/tests/*.trs

/aclocal.m4
/configure
/libtool
/po/POTFILES
/po/pmount.pot
/po/stamp-it
/src/pmount
/src/pumount
/stamp-h1
/tests/check_fstab
/tests/test_policy
/tests/test_sysfs
