*.a
*.o
*.tar.*
.deps
Makefile
Makefile.in

/autom4te.cache
/build-aux
/m4

/config.*
/po/*.gmo
/tests/*.log
/tests/*.sh
/tests/*.trs

/aclocal.m4
/configure
/libtool
/po/POTFILES
/po/pmount.pot
/po/stamp-it
/src/pmount
/src/pumount
/stamp-h1
/tests/check_fstab
/tests/test_policy
/tests/test_sysfs
